.body {
  font-family: "roboto", "san-serif";
  padding-top: 60px;
  overflow-x: hidden;
}
@media screen and (min-width: 768px) {
  .body {
    padding-top: 80px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.page-header {
  position: fixed;
  width: 100%;
  color: #FFFFFF;
  min-height: 60px;
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ECECEC;
  top: 0;
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .page-header {
    min-height: 80px;
  }
}
@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .header-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 16px;
    padding-top: 16px;
  }
}
@media screen and (min-width: 768px) {
  .header-mobile {
    display: none;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main-nav__web {
  color: #2196F3;
}

.main-nav__logo {
  font-family: "raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  color: #000000;
  text-decoration: none;
}
@media screen and (min-width: 1140px) {
  .main-nav__logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 768px) {
  .site {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 90px;
    gap: 50px;
  }
}

@media screen and (min-width: 768px) {
  .site__nav {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    color: #212121;
    text-decoration: none;
    position: relative;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site__nav::after {
    position: absolute;
    content: "";
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 5px;
    background-color: #2196F3;
    left: 0;
    bottom: 0;
    opacity: 0;
  }
  .site__nav:hover, .site__nav:focus {
    color: #2196F3;
  }
}

.site__nav.current::after {
  opacity: 1;
}

.site__icon {
  height: 12px;
  width: 15px;
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site__icon:hover, .site__icon:focus {
  fill: #2196F3;
}
@media screen and (min-width: 768px) {
  .site__icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) {
  .site__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: end;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1;
    color: #757575;
    text-decoration: none;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site__contacts:hover, .site__contacts:focus {
    color: #2196F3;
  }
}
@media screen and (min-width: 1200px) {
  .site__contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    color: #757575;
    text-decoration: none;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site__contacts:hover, .site__contacts:focus {
    color: #2196F3;
  }
}

@media screen and (min-width: 768px) {
  .site__cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .site__cont {
    display: inline-block;
    margin-left: auto;
    margin-right: 50px;
  }
  .site__cont:last-child {
    margin-right: 0;
  }
}

.hero {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/headerimgmob.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/headerimgmob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  min-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/headerimgtablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/headerimgtablet.jpg);
    min-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/imghero.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imghero.jpg);
    width: 100%;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__head {
  margin-top: 0;
  margin-bottom: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  margin-right: auto;
  margin-left: auto;
  width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero__head {
    font-size: 44px;
    line-height: 1.3;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    margin-top: 0;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 670px;
    line-height: 1.3;
    margin-right: auto;
    margin-left: auto;
  }
}

.hero__button {
  display: inline-block;
  background-color: #2196F3;
  padding: 10px 24px;
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .hero__button {
    padding: 10px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features--visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.features__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .features__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.features__icon {
  display: block;
  width: 70px;
  height: 70px;
  background-size: contain;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
}

.features__head {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
}
@media screen and (max-width: 767px) {
  .features__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.features__features-p {
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
}

.features__card {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
}
@media screen and (min-width: 768px) {
  .features__card {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__card {
    width: 270px;
  }
}

.features__before {
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.work {
  display: none;
}
@media screen and (min-width: 1140px) {
  .work {
    padding-bottom: 94px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.work__ul {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__name {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: #FFFFFF;
  text-transform: uppercase;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work__head {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  color: #212121;
}

.work__card {
  position: relative;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}

.team-soc {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-soc__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc__link:focus, .team-soc__link:hover {
  background-color: #2196F3;
}

.team-soc__link {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc__link:hover .team-soc__icon, .team-soc__link:focus .team-soc__icon {
  fill: #FFFFFF;
}

.team-soc__icon--fill {
  fill: #FFFFFF;
}

.team-list {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #F5F4FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.team-list__prof {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.1;
  color: #757575;
}

.team-list__position {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 10px;
}

.team-list__li {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  text-align: center;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .team-list__li {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__li {
    width: 270px;
  }
}

.team__title {
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: #212121;
  text-align: center;
}

.client {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #212121;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .client__title {
    font-size: 36px;
    line-height: 1.1;
  }
}

.client__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  height: 92px;
  width: 210px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  border: 1px solid #2196F3;
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}

.client__icon {
  height: 44px;
  width: 49px;
  content: "";
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover .client__icon, .client__libk:focus .client__icon {
  fill: #2196F3;
}

.client__card {
  margin-left: auto;
  margin-right: auto;
  height: 92px;
  width: 210px;
}
@media screen and (min-width: 768px) {
  .client__card {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__card {
    width: 170px;
  }
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__work {
  line-height: 1.8;
  color: #757575;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.portfolio__project {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio__over-text {
  position: absolute;
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
  top: 0;
  bottom: 0;
  padding: 24px 63px;
  margin: 0;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  overflow: hidden;
}
.portfolio__link:hover .portfolio__over-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.portfolio__link:focus .portfolio__over-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  margin-top: 0;
  margin-bottom: 4px;
  text-decoration: none;
}

.portolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 34px;
  gap: 8px;
}

.portfolio__card {
  width: 370px;
}

.portfolio__btn {
  font-style: normal;
  background-color: #F5F4FA;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  color: #212121;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  min-width: 480px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 768px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer {
    width: 100%;
    max-width: 1600px;
  }
}

.footer-link__footer-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  fill: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .footer-link__footer-title {
    display: block;
    text-align: center;
  }
}

.footer-link {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer-link {
    text-align: start;
  }
}

.footer__inline {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__inline {
    margin-bottom: 0px;
  }
}

.footer-address {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-address {
    margin-bottom: 0px;
  }
}

.address {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #FFFFFF;
  text-decoration: none;
}
@media screen and (max-width: 1199px) {
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.address__list {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__li:nth-child(-n+2) {
  margin-bottom: 10px;
}

.address__cont {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__cont:hover, .address__cont:focus {
  color: #2196F3;
}

.address__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #FFFFFF;
  text-decoration: none;
}

@media screen and (min-width: 1140px) {
  .f {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address {
    text-align: start;
  }
}

.footer-address__web {
  color: #2196F3;
}

.footer-address__logo {
  font-family: "raleway";
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #FFFFFF;
  text-decoration: none;
}
@media screen and (max-width: 1140px) {
  .footer-address__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-address__logo {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .footer-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 93px;
  }
}

.footer-form__p {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;
}
@media screen and (max-width: 1199px) {
  .footer-form__p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-form__input {
  padding: 16px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2F303A;
  border-radius: 4px;
  width: 450px;
  color: #FFFFFF;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .footer-form__input {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

.footer-form__icon {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  margin-left: 12px;
}
@media screen and (min-width: 1140px) {
  .footer-form__icon {
    margin-left: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
}

.footer-form__btn {
  display: block;
  padding: 10px 28px;
  color: #FFFFFF;
  cursor: pointer;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .footer-form__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 12px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .backdrop {
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: scroll;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  height: 581px;
  width: 528px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .modal {
    position: relative;
    height: 609px;
    width: 450px;
  }
}

.modal__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 12px;
  color: #212121;
}

.modal__icon-clos {
  fill: #000000;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-close:hover .modal__icon-clos, .modal__button-close:focus .modal__icon-clos {
  fill: #2196F3;
}

.modal__button-close {
  position: absolute;
  display: inline-block;
  background-color: #FFFFFF;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-close:hover, .modal__button-close:focus {
  border: 1px solid #2196F3;
}

.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.form__field--check {
  margin-bottom: 30px;
}

.form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__span:hover .form__icon, .form__span:focus-within .form__icon {
  fill: #2196F3;
}

.form__input {
  margin: 0;
  padding: 10px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
.form__input:hover, .form__input:focus {
  border: 1px solid #2196F3;
}
.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1;
  color: #757575;
}

.form__span {
  position: relative;
}

.form__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  padding: 16px 12px;
  color: rgb(33, 33, 33);
  resize: none;
}

.form__custom-check {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  content: "";
  border: 2px solid #212121;
  border-radius: 4px;
}

.form__contract {
  margin-left: 3px;
  color: #2196F3;
}

.form__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form__checkbox:checked + .form__custom-check {
  border-color: #2196F3;
  background-color: #2196F3;
  background-image: url(../images/icon-check1.svg);
}

.form__btn-send {
  display: block;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  border: none;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
}

.form__label--size {
  font-size: 16px;
  font-weight: 1.7;
}
@media screen and (max-width: 1200px) {
  .form__label--size {
    font-size: 12px;
    font-weight: 1.1;
  }
}

.menu-toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .container.main-nav {
    display: none;
  }
}

.icon-close {
  fill: #212121;
}
.icon-close:hover, .icon-close:focus {
  fill: #2196F3;
}

.mobile-menu__navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  margin-bottom: auto;
}

.mobile-menu__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 32px;
  margin-bottom: 64px;
}

.mobile-menu__social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-menu__network::after {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 10px;
}

.mobile_menu__li {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.mobile_menu__li:hover, .mobile_menu__li:focus {
  color: #2196F3;
}

.mobile_menu__li.current {
  color: #2196F3;
}

.mobile-menu__site {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.modile-menu__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196F3;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}/*# sourceMappingURL=main.css.map */