.features{
padding-top: 94px;
padding-bottom: 94px;
}
.features--visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.features__ul {
    display: flex;
    gap: 30px;
}
.features__icon {
    display: block;
    width: 70px;
    height: 70px;
    background-size: contain;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
}
.features__head {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 10px;
    color: $secondarycolorblack;
}
.features__features-p {
    font-size: 14px;
    line-height: 1.7;
    margin-top: 0;
    margin-bottom: 0;
    color: $secondarycolor;
}
.features__card {
    align-items: center;
    width: 270px;
}
.features__before {
    height: 120px;
    background: $secondarywite;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}