.footer-address {


    @media screen and (min-width:1200px) {
        text-align: start;
        }
}
.footer-address__web {
    color: $accentcolor;
}
.footer-address__logo {
    font-family: $secondarytupe;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: $color;
    text-decoration: none;
@media screen and (max-width:1140px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        text-align: center;
    }

    @media screen and (min-width:768px) {
        display: inline-block;
    }
}