.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    min-width:480px;
    width: 100%;
    

    @media screen and (min-width:768px) {
        display: flex;
       justify-content: center;
       align-items: center;
        min-width: 768px;
        width: 100%;
        
        @media screen and (min-width:1200px) {
            width: 100%;
         max-width: 1600px;
         
        }
    }
   
}
.footer-link__footer-title {
    margin-top: 0;
    margin-bottom: 0;
    color: $color;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    fill: $color;
    @media screen and (max-width:767px) {
        display: block;
        text-align: center;
    }
}
.footer-link {
display: block;

   
    
        @media screen and (min-width:768px) {
            text-align: start;
            
        }
}
.footer__inline{
   
    margin-bottom: 60px;
    @media screen and (min-width:768px ) {
        display: flex;
            justify-content: space-around;
            text-align: center;
            margin-bottom: 60px;
    }
         @media screen and (min-width:1200px) {
            margin-bottom: 0px;
       
        
         }
    
    
    
}
.footer-address{
            margin-bottom: 60px;
    @media screen and (min-width:768px) {
            margin-bottom: 0px;
        }
}