.page-header {
    position: fixed;
    width: 100%;
    color: $color;
    min-height: 60px;
    padding-top: 24px;
    padding-bottom: 25px;
    border: 1px solid #ECECEC;
    top: 0;
    background-color: $color;
    
    @media  screen and (min-width:768px) {
        min-height: 80px;
    }
                 @media screen and (max-width:767px) {
                padding-top: 0;
                padding-bottom:0;
                 }
}
.header-mobile{
@media screen and (max-width:767px) {
        display: flex;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 16px;
        padding-top: 16px;
    }
    @media screen and (min-width:768px) {
        display: none;
    }
}

