.work {
    
    display: none;
    @media screen  and (min-width:1200px) { 
    padding-bottom: 94px;
    display: flex;
    }
}
.work__ul {
    display: block;
    display: flex;
    justify-content: space-between;
}
.work__name {
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    color: $color;
    text-transform: uppercase;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(47, 48, 58, 0.8);
    padding: 27px;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    text-align: center;
    justify-content: center;
}
.work__head {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    color: $secondarycolorblack;
}
.work__card {
    position: relative;
}