$accentcolor: #2196F3;
$color: #FFFFFF;
$secondarywite:#F5F4FA;
$secondarycolor: #757575;
$colorblack:#000000;
$secondarycolorblack:#212121;
$colorgray:#AFB1B8;
$tupe: "roboto" , "san-serif";
$secondarytupe: "raleway"